<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Codebase/Selenium_Maven_TestNG_Automation"><classes><class name="sample_test.Program_1"><methods><include name="verifyName"/><include name="verifyLogo"/></methods></class></classes></test></suite>